<div class="bg-black h-screen text-white flex items-center justify-center">
    <div class="bg-primary-light w-cont p-8 flex flex-col gap-6">
        <h1 class="text-center font-irish text-4xl text-gold">Reset Password.</h1>
        <p class="text-gray-100 font-2xl">Enter the password related to this account to receive instructions to reset your password</p>
        <div class="flex gap-16">
            <label for="reset" class="font-irish">Email:</label>
            <input type="email" placeholder="johndoe22@gmail.com">
        </div>
        <div class="flex w-full justify-center">
            <button class="bg-green p-2 active:bg-white active:text-green">Send Email</button>
        </div>
    </div>
</div>