<div class=" container w-screen h-screen justify-center items-center py-40 px-72">
    <div class="p-9 flex flex-col justify-center items-center content-center bg-hero font-bold">
        <p class="text-gold text-5xl px-8 w-fit font-bold font-irish">Pro's Overflow</p>
        <div class="flex mt-6 px-12 pb-8 leading-10 text-center text-white gap-4">
            <div class="bg-primary-light p-6 rounded-md">
                <p class="font-irish text-xl">Welcome back to Pro's Overflow! Ask questions and explore unlimited knowledge.</p>
                <button class="bg-green active:bg-white active:text-green font-irish">Log In</button>
            </div>
            <div class="bg-primary-light p-6 rounded-md">
                <p class="font-irish text-xl">Register with us and explore  knowledge and collaborative problem-solving.</p>
                <button class="bg-gold text-black active:bg-white active:text-gold">Register</button>
            </div>
        </div>
    </div>
</div>
