<div class="holder w-screen flex h-screen items-center mx-auto lg:py-40 lg:p-52 overflow-x-hidden">
    <div class="md:p-9 flex mx-auto flex-col bg-hero font-bold my-auto justify-center">
        <p class="text-gold flex text-center text-4xl px-8 w-full font-bold font-irish md:text-5xl sm:mt-10px">Pro's Overflow</p>
        <div class="flex flex-col flex-grow mt-20 px-12 pb-8 leading-10 text-center text-white gap-4 lg:flex-row">
            <div class="bg-primary-light p-6 rounded-md w-fit">
                <p class="font-irish md:text-xl">Welcome back to Pro's Overflow! Ask questions and explore unlimited knowledge.</p>
                <button class="bg-gold text-black active:bg-white active:text-black font-irish" routerLink="/logIn">Log In</button>
            </div>
            <div class="bg-primary-light p-6 rounded-md w-fit">
                <p class="font-irish md:text-xl">Register with us and explore  knowledge and collaborative problem-solving.</p>
                <button class="bg-green  active:bg-white active:text-green" routerLink="/register">Register</button>
            </div>
        </div>
    </div>
</div>
