<div>
    <div>
        <div>
            <p>What is AI</p>
            <P>I have created an online resume using VS Code with my photo on it. When I "show preview" my resume on VS code there is a photo. My problem is when I host my resume website on GitHub and try to visit the site, there is no photo on my resume. Is there something am doing wrong or am I missing something. Regards.</P>
            <span>
                <li>#Open AI</li>
                <li>#JavaScript</li>
                <li>#TypeScript</li>
                <li>#Angular</li>
            </span>
        </div>
        <div>
            <p>Upvotes : 5</p>
            <p>Downvotes : 1</p>
        </div>
    </div>
    <div>
        <div>
            <span>
                <img src="" alt="like">
                <img src="" alt="Unlike">
            </span>
            <span>
                <button>Accept</button>
                <button>Comment</button>
            </span>
        </div>
        <div>
            <h2>Answers</h2>
            <p>1. OpenAPI is an open standard for describing APIs that allows you to provide an API specification encoded in a JSON or YAML document. It provides a comprehensive dictionary of terms that reflects commonly-understood concepts in the world of APIs, embedding the fundamentals of HTTP and JSON</p>
            <p>2. OpenAPI is an open standard for describing APIs that allows you to provide an API specification encoded in a JSON or YAML document. It provides a comprehensive dictionary of terms that reflects commonly-understood concepts in the world of APIs, embedding the fundamentals of HTTP and JSON</p>
        </div>
    </div>
</div>
