<app-header></app-header>
<div class=" h-screen text-white flex">
    <app-menu></app-menu>
    <div class="bg-black w-full p-8">
        <h2 class="font-irish text-center underline">Tags.</h2>
        <div class="grid  grid-flow-row grid-cols-4 list-none gap-2 p-2">
        <li routerLink="home" class="border-2 text-base border-primary-light p-2 active:text-primary-dark cursor-pointer">#Home</li>
        <li routerLink="home" class="border-2 text-base border-primary-light p-2 active:text-primary-dark cursor-pointer">#Home</li>
        <li routerLink="home" class="border-2 text-base border-primary-light p-2 active:text-primary-dark cursor-pointer">#Home</li>
        <li routerLink="home" class="border-2 text-base border-primary-light p-2 active:text-primary-dark cursor-pointer">#Home</li>
        <li routerLink="home" class="border-2 text-base border-primary-light p-2 active:text-primary-dark cursor-pointer">#Home</li>
        <li routerLink="home" class="border-2 text-base border-primary-light p-2 active:text-primary-dark cursor-pointer">#Home</li>
        <li routerLink="home" class="border-2 text-base border-primary-light p-2 active:text-primary-dark cursor-pointer">#Home</li>
        <li routerLink="home" class="border-2 text-base border-primary-light p-2 active:text-primary-dark cursor-pointer">#Home</li>
        <li routerLink="home" class="border-2 text-base border-primary-light p-2 active:text-primary-dark cursor-pointer">#Home</li>
        <li routerLink="home" class="border-2 text-base border-primary-light p-2 active:text-primary-dark cursor-pointer">#Home</li>
        <li routerLink="home" class="border-2 text-base border-primary-light p-2 active:text-primary-dark cursor-pointer">#Home</li>
        <li routerLink="home" class="border-2 text-base border-primary-light p-2 active:text-primary-dark cursor-pointer">#Home</li>
    </div>
    </div>
</div>
<app-footer></app-footer>