<div>
    <div>
        <h2>Users</h2>
        <span>
            <li>John Doe</li>
            <button>Remove</button>
        </span>
        <span>
            <li>John Doe</li>
            <button>Remove</button>
        </span>
        <span>
            <li>Jane Doe</li>
            <button>Remove</button>
        </span>
        <span>
            <li>Allan Hex</li>
            <button>Remove</button>
        </span>
        <span>
            <li>Delvin Mark</li>
            <button>Remove</button>
        </span>
        <span>
            <li>Missy Mane</li>
            <button>Remove</button>
        </span>
        <span>
            <li>Chris Mdosi</li>
            <button>Remove</button>
        </span>
    </div>
    <div>
        <h2>Questions</h2>
        <div>
            <div>
                <span> 5 Votes</span>
                <span>5 Answers</span>
            </div>
            <div>
                <span>What is Open AI?</span>
                <span>
                    <li>#Open AI</li>
                    <li>#JavaScript</li>
                    <li>#TypeScript</li>
                    <li>#Angular</li>
                </span>
            </div>
            <button type="button">Delete</button>
        </div>
    </div>
</div>