<div>
    <div>
        <p>Make your Question as clear as possible to help other users understand you clearly</p>
        <textarea name="question" id="question" cols="30" rows="10" placeholder="Write your question here"></textarea>
        <button type="button">Preview</button>
        <p>Add tags to help users find your question.</p>
        <input type="text" placeholder="#Javascript">
        <button type="button">Add Tag</button>
    </div>
    <div>
        <h2>Question Preview</h2>
        <p>What is Open AI?</p>
        <span>
            <li>#Open AI</li>
            <li>#JavaScript</li>
            <li>#TypeScript</li>
            <li>#Angular</li>
        </span>
        <button type="button">Edit</button>
        <button type="button">Post Question</button>
    </div>
</div>