<app-header></app-header>

<div class="flex">
    <app-menu></app-menu>
    <div class="w-full text-white md:border-x-2 border-l-white md:h-screen">
        <div class="bg-primary-dark h-fit md:h-1/2">
            <div class=" flex flex-col p-2 gap-10">
                <p class="md:text-xl font-semibold">Make your Question as clear as possible to help other users understand you clearly</p>
                <div class="pl-6 flex flex-col md:flex-row">
                    <textarea name="question" id="question" cols="30" rows="10" placeholder="Write your question here" class="h-36 md:w-2/3 text-sm md:text-base text-black p-4 focus:outline-none"></textarea>
                    <button type="button" class="bg-gray-300 text-black text-sm md:text-base px-2 w-32 active:bg-white h-11 md:self-end">Preview</button>
                </div>
            </div>
            <div class=" flex flex-col p-2 gap-10">
                <p class="md:text-xl font-semibold">Add tags to help users find your question.</p>
                <div class="flex flex-col md:flex-row flex-between">
                    <input type="text" placeholder="#Javascript" class="mx-auto md:mx-0 md:w-1/2 focus:outline-none text-sm md:text-base">
                    <button type="button" class="bg-gray-300 text-sm text-black p-2 w-28 active:bg-white">Add Tag</button>
                </div>
            </div>
        </div>
        <div class="bg-black flex flex-col gap-2 md:gap-10 px-5 py-2.5 max-h-full md:h-1/2">
            <h2 class="font-bold md:text-2xl font-irish">Question Preview</h2>
            <p>What is Open AI?</p>
            <div class="flex flex-col lg:flex-row justify-between">
                <span class="flex list-none text-gray-300 font-bold gap-1 md:gap-4 flex-wrap">
                    <li>#Open AI</li>
                    <li>#JavaScript</li>
                    <li>#TypeScript</li>
                    <li>#Angular</li>
                </span>
                <span class="flex">
                    <button type="button" class="w-32 text-center bg-gray-300 text-sm text-black p-2 active:bg-white">Edit</button>
                    <button type="button" class="w-32 bg-gray-300 text-sm text-black p-2 active:bg-white">Post</button>
                </span>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>