<div>
    <div>
        <h1>Your Questions</h1>
        <div>
            <p>1. What is Open AI</p>
            <button>Update</button>
            <button>Delete</button>
        </div>
        <div>
            <p>2. What is Open AI</p>
            <button>Update</button>
            <button>Delete</button>
        </div>
        <div>
            <p>3. What is Open AI</p>
            <button>Update</button>
            <button>Delete</button>
        </div>
        <div>
            <h2>Update Question</h2>
            <span>
                <button type="button">Update</button>
                <textarea name="updatedQuestion" id="updatedQuestion" cols="30" rows="10"></textarea>
            </span>
            <span>
                <button type="button">Update</button>
                <input type="text" placeholder="#tag">
            </span>
        </div>
    </div>
    <div>
        <label for="pfp">Profile Picture</label>
        <img src="../../assets/person-circle.svg" alt="profile picture">
        <label for="name">Name:</label>
        <li>Brian Gathai</li>
        <label for="email">Email : </label>
        <li>kariukigathhai@thejitu.com</li>
        <label for="link">Website : </label>
        <link rel="link" href="www.gathai.developer.jitu">
        <button>Update</button>
    </div>
</div>