<div class="bg-black h-screen text-white flex items-center justify-center">
    <div class="bg-primary-light p-8 w-cont">
        <h1 class="font-irish text-center text-4xl text-gold">Log In</h1>
        <div class="flex my-5 font-irish gap-16">
            <label for="email" class="">Email</label>
            <input type="text">
        </div>
        <div class="flex my-5 gap-5">
            <label for="email">Password</label>
            <input type="password">
        </div>
        <div class="w-full flex justify-center">
            <button class="bg-gold p-2 text-black active:bg-white">Register</button>
        </div>
        <div class="flex justify-between p-3 mt-5">
            <a href="#">Forgot Password?</a>
            <a href="#">Register</a>
    </div>
</div>
