<app-header></app-header>
<div class="flex">
    <app-menu class=""></app-menu>
    <div class="flex flex-col overflow-y-scroll overflow-x-hidden w-full text-white h-screen">
        <div class="bg-primary-dark p-5 flex flex-col md:flex-row justify-between text-lg md:items-center md:border-l-4 border-l-primary-light">
            <div class=" ">
                <h2 class="text-xl font-bold underline underline-offset-4">Questions</h2>
                <p class="px-4">Interract with other Pro's and help find solutions like a pro.</p>
            </div>
            <button class="flex flex-grow-0 bg-green rounded py-1 px-2 w-fit active:bg-white active:text-green"[routerLink]="['/ask']">Ask Questions</button>
        </div>
        <div class="container flex flex-col text-white md:border-l-4 border-l-primary-light h-screen gap-1 w-full">
            
            <div class="bg-black p-5">
                <p class="break-words">What is Open AI?</p>
                <div class="flex flex-wrap list-none gap-1 p-2 md:gap-5 md:p-4">
                    <li class="bg-primary-light my-auto rounded p-2 ">#OpenAi</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#JavaScript</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Typescript</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Angular</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Node</li>
                </div>
            </div>
            <div class="bg-black p-5">
                <p>What is Open AI?</p>
                <div class="flex flex-wrap list-none gap-1 p-2 md:gap-5 md:p-4">
                    <li class="bg-primary-light my-auto rounded p-2 ">#OpenAi</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#JavaScript</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Typescript</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Angular</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Node</li>
                </div>
            </div>
            <div class="bg-black p-5">
                <p>What is Open AI?</p>
                <div class="flex flex-wrap list-none gap-1 p-2 md:gap-5 md:p-4">
                    <li class="bg-primary-light my-auto rounded p-2 ">#OpenAi</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#JavaScript</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Typescript</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Angular</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Node</li>
                </div>
            </div>
            <div class="bg-black p-5">
                <p>What is Open AI?</p>
                <div class="flex flex-wrap list-none gap-1 p-2 md:gap-5 md:p-4">
                    <li class="bg-primary-light my-auto rounded p-2 ">#OpenAi</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#JavaScript</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Typescript</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Angular</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Node</li>
                </div>
            </div>
            <div class="bg-black p-5">
                <p>What is Open AI?</p>
                <div class="flex flex-wrap list-none gap-1 p-2 md:gap-5 md:p-4">
                    <li class="bg-primary-light my-auto rounded p-2 ">#OpenAi</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#JavaScript</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Typescript</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Angular</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Node</li>
                </div>
            </div>
            <div class="bg-black p-5">
                <p>What is Open AI?</p>
                <div class="flex flex-wrap list-none gap-1 p-2 md:gap-5 md:p-4">
                    <li class="bg-primary-light my-auto rounded p-2 ">#OpenAi</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#JavaScript</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Typescript</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Angular</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Node</li>
                </div>
            </div>
            <div class="bg-black p-5">
                <p>What is Open AI?</p>
                <div class="flex flex-wrap list-none gap-1 p-2 md:gap-5 md:p-4">
                    <li class="bg-primary-light my-auto rounded p-2 ">#OpenAi</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#JavaScript</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Typescript</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Angular</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Node</li>
                </div>
            </div>
            <div class="bg-black p-5">
                <p>What is Open AI?</p>
                <div class="flex flex-wrap list-none gap-1 p-2 md:gap-5 md:p-4">
                    <li class="bg-primary-light my-auto rounded p-2 ">#OpenAi</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#JavaScript</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Typescript</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Angular</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Node</li>
                </div>
            </div>
            <div class="bg-black p-5">
                <p>What is Open AI?</p>
                <div class="flex flex-wrap list-none gap-1 p-2 md:gap-5 md:p-4">
                    <li class="bg-primary-light my-auto rounded p-2 ">#OpenAi</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#JavaScript</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Typescript</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Angular</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Node</li>
                </div>
            </div>
            <div class="bg-black p-5">
                <p>What is Open AI?</p>
                <div class="flex flex-wrap list-none gap-1 p-2 md:gap-5 md:p-4">
                    <li class="bg-primary-light my-auto rounded p-2 ">#OpenAi</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#JavaScript</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Typescript</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Angular</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Node</li>
                </div>
            </div>
            <div class="bg-black p-5">
                <p>What is Open AI?</p>
                <div class="flex flex-wrap list-none gap-1 p-2 md:gap-5 md:p-4">
                    <li class="bg-primary-light my-auto rounded p-2 ">#OpenAi</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#JavaScript</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Typescript</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Angular</li>
                    <li class="bg-primary-light my-auto rounded p-2 ">#Node</li>
                </div>
            </div>
        </div>
    </div>
    <app-tags></app-tags>
</div>
<app-footer></app-footer>