<app-header></app-header>
<div class="flex">
    <app-menu></app-menu>
    <div class="flex flex-col overflow-y-scroll overflow-x-hidden w-full text-white h-screen md:border-x-2 border-white">
        <div class="bg-primary-dark p-5 flex flex-col md:flex-row justify-between text-lg md:items-center ">
            <div class=" ">
                <h2 class="text-xl font-bold underline underline-offset-4">Questions</h2>
                <p class="px-4">Interract with other Pro's and help find solutions like a pro.</p>
            </div>
            <button class="flex flex-grow-0 bg-green rounded py-1 px-2 w-fit active:bg-white active:text-green self-center"[routerLink]="['/ask']">Ask Questions</button>
        </div>
        <div class="flex flex-col text-white md:border-l-4 border-l-primary-light h-screen gap-1 w-full" *ngIf="questions$ | async as questions; else noQuestions">
            
            <div class="bg-black p-5 hover:opacity-80" *ngFor="let q of questions" [routerLink]="['/details',q.question_id]">
                <p class="break-words">{{q.title | brief:50}}</p>
                <div class="flex flex-wrap list-none gap-1 p-2 md:gap-5 md:p-4">
                    <li class="bg-primary-light my-auto rounded p-2 " *ngFor="let tag of q.tags">{{tag.tag}}</li>
                </div>
            </div>
        </div>

        <ng-template #noQuestions>
            <p><i><b>There are no questions Currently!</b></i></p>
        </ng-template>
    </div>
    <app-tags></app-tags>
</div>
<app-footer></app-footer>