<div class="bg-black flex flex-col justify-center items-center h-screen p-8">
    <div class="bg-primary-light md:w-cont p-5 text-white md:h-fit w-full my-auto">
        <h1 class="font-irish text-gold text-2xl md:text-4xl text-center">Register</h1>
        <form (ngSubmit)="submit(form)" #form="ngForm" class="h-fixed">
            <div class="flex w-full my-5 flex-col form-group">
                <label for="profile picture">Profile Picture: </label>
                <input type="text " placeholder="Enter a valid image link" ngModel name="profile_pic">
            </div>
            <div class="flex gap-3">
                <div class="w-1/2">
                    <div *ngIf="!fname.valid && fname.touched" class="text-red-500">
                        <p>This field is required*</p>
                    </div>
                    <div class="flex w-full my-5 flex-col form-group" >
                        <label for="fname">First Name: </label>
                        <input type="text" class=" active:ring-offset-green" ngModel name="first_name" placeholder="John" #fname="ngModel" required>
                    </div>
                </div>
                <div class="w-1/2">
                    <div *ngIf="!lname.valid && lname.touched" class="text-red-500">
                        <p>This field is required*</p>
                    </div>
                    <div class="flex w-full my-5 flex-col form-group">
                        <label for="sname">Last Name: </label>
                        <input type="text" placeholder="Doe" ngModel name="last_name" #lname="ngModel" required>
                    </div>
                </div>
            </div>
            <div *ngIf="!email.valid && email.touched" class="text-red-500">
                <p>This field is required*</p>
            </div>
            <div class="flex w-full my-5 flex-col form-group">
                <label for="email">Email:</label>
                <input type="email" placeholder="johndoe22@gmail.com" ngModel name="email" #email="ngModel" required email>
            </div>
            <div *ngIf="!password.valid && password.touched" class="text-red-500">
                <p>This field is required*</p>
            </div>
            <div class="flex w-full my-5 flex-col form-group">
                <label for="password">Password:</label>
                <input type="password" placeholder="*********" ngModel name="password" #password="ngModel" required>
            </div>
            <div class="flex justify-center w-full my-5">
                <button class="bg-green font-irish p-2 text-white"  type="submit" [routerLink]="['/logIn']">Register</button>
            </div>
        </form>
        <a [routerLink]="['/logIn']">Already have an account?</a>
    </div>
</div>